@font-face
    font-family: 'FONTSPRING DEMO - Arpona'
    src: url('/fonts/subset-FONTSPRINGDEMO-ArponaRegular.woff2') format('woff2')
    font-weight: normal
    font-style: normal
    font-display: swap


@font-face
    font-family: 'Urbanisto'
    src: url('/fonts/subset-Urbanist-Regular.woff2') format('woff2')
    font-weight: normal
    font-style: normal
    font-display: swap
