@use 'variables' as *
@use 'mixins' as *

.hero-bg-image
  width: 100vw
  height: 500px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  &[data-id="1"]
    background-image: url('/images/machines_hero_d.jpg')
  &[data-id="2"]
    background-image: url('/images/agency_hero_d.jpg')
  &[data-id="3"]
    background-image: url('/images/findings_hero.jpg')

  @media (max-width: 600px)
    height: 240px

h1
  grid-column: 1 / span 10
  grid-row: 1

.hero
  height: 94px
  @include mbp-down(md)
    height: 79px


