@use 'variables' as *
@use 'mixins' as *
@use 'fonts.sass'
@use 'segment.sass'
@use 'list.sass'
@use 'hero.sass'
@use 'donat.sass'
@use 'linechart.sass'
@use 'multibar.sass'





.section[data-id="2-1"],
.section[data-id="2-3"]
    background: $bg-color
.section[data-id="2-2"]
    background: #fff

.section[data-id="2-0"]
    height: 500px
    @media (max-width: 600px)
        height: 240px

// .title
//     color: #00F
//     font-family: $font-headings
//     font-size: 59.6px
//     font-style: normal
//     line-height: 80px
//     font-weight: 400
//     letter-spacing: 1.86px
    // margin-bottom: 24px

.section[data-id="2-1"] .graphics
    @include mbp-down(lg)
        margin-top: 48px
        padding-top: 0
    @include mbp-down(md)
        width: 100%

.section[data-id="2-3"] .graphics
    @include mbp-down(lg)
        margin-top: 48px
        padding-top: 0

// .section[data-id="2-2"] .content
//     grid-column: 1 / span 5
.section[data-id="2-1"] .inner,
.section[data-id="2-3"] .inner
    align-items: flex-end


.section .container
    @include mbp-down(lg)
        max-width: 600px

.section .content
    grid-column: 1 / span 5
    grid-row: 2
    max-width: 100%
    width: 100%

.section .graphics
    grid-column: 8 / span 5
    grid-row: 2 / span 1
    max-width: 100%
    width: 100%
    @include mbp-down(xl)
        grid-column: 7 / span 6



.section .inner
    padding-bottom: 100px
    padding-top: 100px
    @include mbp-down(lg)
        display: flex
        -ms-flex-wrap: wrap
        flex-wrap: wrap
        gap: 0
        padding-top: 48px
        padding-bottom: 48px

.values
    display: flex
    // justify-content: space-around
    gap: 10px
    width: 100%
    min-width: 520px
    @include mbp-down(xl)
        min-width: unset
    > *
        flex: 1 1 0

    .value
        div:first-child
            color: #00F
            font-family: $font-primary
            font-size: 90px
            font-style: normal
            font-weight: 600
            line-height: 90px
            margin-bottom: 10px
            // letter-spacing: -2.6px
            // text-align: center
            span
                // font-family: Urbanist
                font-family: $font-primary
                font-size: 60px
                font-style: normal
                font-weight: 600
                line-height: 24px

        div:last-child
            border-top: 0.5px solid black
            padding-top: 10px
            color: #000
            // text-align: center
            // font-family: Urbanist
            font-family: $font-primary
            font-size: 18px
            font-style: normal
            font-weight: 600
            line-height: 24px
            // width: 106px


.donats-box
    min-width: 520px
    display: flex
    gap: 20px
    // justify-content: center
    // align-items: center
    // margin-top: 24px
    margin-bottom: 38px
    @include mbp-down(xl)
        min-width: unset
    @include mbp-down(lg)
        flex-direction: column
    > *
        flex: 1 1 0
