@use 'variables' as *
@use 'mixins' as *
@use 'fonts.sass'
@use 'segment.sass'
@use 'list.sass'
@use 'hero.sass'
@use 'donat.sass'
@use 'linechart.sass'
@use 'multibar.sass'

.section[data-id="2-1"],
.section[data-id="2-3"]
    background: $bg-color
.section[data-id="2-2"]
    background: #fff

.title
    color: #00F
    font-family: $font-headings
    font-size: 50px
    font-style: normal
    line-height: 57px
    font-weight: 400
    letter-spacing: -1.5px
    // margin-bottom: 24px

.section[data-id="2-1"] .graphics
    @include mbp-down(md)
        width: 100%

.section .content
    grid-column: 1 / span 5
    grid-row: 2
    max-width: 100%
    

.section .graphics
    grid-column: 7 / span 6
    grid-row: 2 / span 1
    max-width: 100%

.section .inner
    padding-bottom: 24px
    padding-top: 24px


.values
    display: flex
    justify-content: space-around
    width: 100%


    .value
        div:first-child
            color: #00F
            font-family: $font-headings
            font-size: 52px
            font-style: normal
            font-weight: 400
            line-height: 52px
            letter-spacing: -2.6px
            text-align: center
            span
                // font-family: Urbanist
                font-family: $font-primary
                font-size: 32px
                font-style: normal
                font-weight: 600
                line-height: 24px

        div:last-child
            color: #000
            text-align: center
            // font-family: Urbanist
            font-family: $font-primary
            font-size: 12px
            font-style: normal
            font-weight: 400
            line-height: 12px
            width: 106px
