@use 'variables' as *
@use 'mixins' as *

.donat-component
  margin: 0 0 72px 0
  padding: 0
  display: flex
  // justify-content: flex-start
  flex-direction: column
  // gap: 24px
  @include mbp-down(md)
    margin: 0 0 24px 0

  svg
    height: auto


  &[data-id="2"]
    margin-bottom: 0

  &[data-id="6"],
  &[data-id="7"]
    @include mbp-down(md)
      margin-bottom: 0


h3.donat-title
  font-size: 14px !important
  line-height: 14px !important
  font-weight: 600  !important
  margin-bottom: 15px !important
  font-family: $font-primary !important
  

h3.donat-title-m
  display: none
  @include mbp-down(md)
    display: block

h3.donat-title-d
  display: block
  @include mbp-down(md)
    display: none


.donat-box
  display: flex
  gap: 24px
  justify-content: space-between

.donat-title
  font-size: 20px
  font-weight: 600
  margin-bottom: 12px

.donat-legend
  display: flex
  flex-direction: column
  gap: 24px
  margin-bottom: 16px
  @include mbp-down(md)
    gap: 16px


.donat-legend__item
  display: flex
  align-items: center
  font-size: 16px
  color: #333

.donat-legend__color
  width: 12px
  height: 8px
  border-radius: 4px
  margin-right: 8px
  display: inline-block

.donat-legend__text
  flex: 1
  font-size: 12px
  font-family: $font-primary

.donat-chart
  display: block
  margin: 0 auto
  min-width: 194px
  @include mbp-down(md)
    width: 170px
    height: 170px
    min-width: 170px
    margin: unset
