@use 'variables' as *
@use 'mixins' as *

.donat-component
  border-top: 0.5px solid black
  margin: 0 0 72px 0
  padding: 0
  display: flex
  padding-top: 10px
  flex-direction: column
  @include mbp-down(lg)
    margin: 0 0 24px 0
  svg
    height: auto


  &[data-id="1"],
  &[data-id="2"]
    .donat-box
      @include mbp-down(lg)
        flex-direction: row


  &[data-id="2"]
    margin-bottom: 0

  &[data-id="3"],
  &[data-id="5"]
    .donat-box
      flex-direction: row
      align-items: center

    .donat-legend
      gap: 20px

  &[data-id="3"]
    @include mbp-down(lg)
      margin: 0
    .donat-legend
      margin-bottom: 0

  &[data-id="5"]
    margin-bottom: 0
    .donat-legend
      margin-bottom: 0

  &[data-id="6"],
  &[data-id="7"]
    @include mbp-down(lg)
      margin-bottom: 0


h3.donat-title
  font-size: 18px !important
  line-height: 24px !important
  font-weight: 600 !important
  margin-bottom: 30px !important
  font-family: $font-primary !important
  
.donat-box
  display: flex
  flex-direction: column-reverse
  gap: 18px
  justify-content: space-between

.donat-title
  font-size: 20px
  font-weight: 600
  margin-bottom: 12px

.donat-legend
  display: flex
  flex-direction: column
  gap: 12px
  margin-bottom: 16px
  @include mbp-down(lg)
    gap: 16px


.donat-legend__item
  display: flex
  align-items: center
  font-size: 16px
  color: #333

.donat-legend__color
  width: 20px
  height: 14px
  border-radius: 7px
  margin-right: 8px
  display: inline-block


.donat-legend__text
  flex: 1
  font-size: 14px
  font-family: $font-primary
  // white-space: nowrap




.donat-chart
  display: block
  // margin: 0 auto
  min-width: 194px
  @include mbp-down(lg)
    width: 170px
    height: 170px
    min-width: 170px
    margin: unset
