@use 'variables' as *
@use 'mixins' as *
@use 'fonts.sass'
@use 'segment.sass'
@use 'hero.sass'
@use 'list.sass'
@use 'donat.sass'
@use 'linechart.sass'
@use 'multibar.sass'

.section[data-id="3-1"],
.section[data-id="3-3"],
.section[data-id="3-6"]
    background: $bg-color
.section[data-id="3-2"],
.section[data-id="3-4"],
.section[data-id="3-5"],
.section[data-id="3-7"],
.section[data-id="3-8"],
.section[data-id="3-9"]
    background: #fff


.graphics[data-id="3-8"]
    padding: 18px
    background: #F2E0CC




.title
    color: #00F
    font-family: $font-headings
    font-size: 50px
    font-style: normal
    line-height: 57px
    font-weight: 600
    letter-spacing: -1.5px
    @include mbp-down(md)
        margin-bottom: 24px
    

.section .graphics
    grid-row: 2 / span 1

.section .inner
    padding-top: 24px
    padding-bottom: 24px
    @include mbp-down(md)
        // padding-top: 48px
        padding-bottom: 48px

.section[data-id="3-2"] .inner
    padding-top: 0px
    // padding-bottom: 0px

.section[data-id="3-5"] .inner
    @include mbp-down(md)
        border-top: 0.5px solid #00f
        // padding-bottom: 0

.section[data-id="3-9"] .inner
    @include mbp-down(md)
        border-top: 0.5px solid #00f
        padding-bottom: 0

.section[data-id="2-1"] .graphics
    @include mbp-down(md)
        width: 100%

.section[data-id="3-9"] .graphics
    @include mbp-down(md)
        width: 100vw
        margin-left: -2rem
        margin-right: -2rem
        padding: 2rem
        margin-top: 24px

.image
    width: 100vw
    height: 300px
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    &[data-id="2"]
        background-image: url('/images/art2_d.jpg')
    &[data-id="3"]
        background-image: url('/images/art3_d.jpg')
        width: 100%
        margin-bottom: 24px
        @include mbp-down(md)
            width: 100vw
            margin-left: -2rem
    &[data-id="4"]
        background-image: url('/images/art4_d.jpg')
        width: 100%
        margin-top: 24px
        @include mbp-down(md)
            width: 100vw
            margin-left: -2rem


.values
    display: flex
    justify-content: space-around
    margin: 0 0 72px 0
    @include mbp-down(md)
        width: 100%
        margin: 0 0 32px 0
    .value
        div:first-child
            color: rgba(245, 92, 28, 1)
            font-family: $font-headings
            font-size: 52px
            font-style: normal
            font-weight: 600
            line-height: 52px
            letter-spacing: -2.6px
            text-align: center
            span
                // font-family: Urbanist
                font-size: 32px
                font-style: normal
                font-weight: 600
                line-height: 24px

        div:last-child
            color: #000
            text-align: center
            // font-family: Urbanist
            font-size: 12px
            font-style: normal
            font-weight: 400
            line-height: 12px
            width: 106px