.custom-list-component
  margin: 0 0 24px 0
  padding: 0
  &[data-id="3"]
    margin: 24px 0
  &[data-id="4"]
    .custom-list-title
      font-size: 18px !important
      line-height: 18px !important
      margin-bottom: 24px !important


h3.custom-list-title
  font-size: 14px !important
  line-height: 14px !important
  font-weight: 600  !important
  margin-bottom: 9px !important

.custom-list
  margin: 0 !important
  padding: 0
  list-style: none

  li
    display: flex
    align-items: center
    padding: 9px 0
    font-size: 16px
    color: #333

    span
      font-size: 18px
      line-height: 25px

      b
        font-weight: 600

.custom-list-icon
  width: 60px
  min-width: 60px
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.custom-list__text
  flex: 1

.custom-list-divider
  border: none
  height: 0.5px
  background: #000
  margin: 0 !important
