@use 'variables' as *
@use 'mixins' as *
@use 'fonts.sass'
@use 'segment.sass'
@use 'hero.sass'
@use 'list.sass'


.section .container
    @include mbp-down(lg)
        max-width: 600px

.section .content
    grid-column: 1 / span 5
    grid-row: 2
    max-width: 100%
    width: 100%

.section .graphics
    grid-column: 7 / span 5
    grid-row: 2 / span 1
    max-width: 100%
    width: 100%

.section .inner
    padding-bottom: 100px
    padding-top: 100px
    @include mbp-down(lg)
        display: flex
        -ms-flex-wrap: wrap
        flex-wrap: wrap
        gap: 0
        padding-top: 48px
        padding-bottom: 48px




.section[data-id="1-0"]
    height: 500px
    @media (max-width: 600px)
        height: 240px





.section[data-id="1-1"]
    background: $bg-color

.section[data-id="1-1"] .inner
    @include mbp-down(md)
        padding-bottom: 0px

.section[data-id="1-1"] .graphics
    width: 100%
    height: 100%
    display: flex
    position: relative
    justify-content: center
    align-items: center
    @include mbp-down(md)
        padding-top: 0





.section[data-id="1-2"]
    background: #fff

.section[data-id="1-2"] .inner
    align-items: flex-end

.section[data-id="1-2"] .graphics
    @include mbp-down(lg)
        padding-top: 10px





.section[data-id="1-3"]
    background: #efeded

.section[data-id="1-3"] .graphics
    @include mbp-down(lg)
        padding-top: 48px






.section[data-id="1-4"] .container
    @include mbp-down(lg)
        padding-top: 300px


.section[data-id="1-4"] .background-image
    width: 60%
    height: 100%
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 40%
    background: url('/images/groups.jpg')
    background-size: cover
    background-position: center
    @include mbp-down(lg)
        width: 100%
        height: 300px

.section[data-id="1-4"] .background-gradient
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: linear-gradient(to right, rgba(20,33,89,0) 0%, rgba(20,33,89,0.2) 20%, #142159 50%)
    background-size: 100% 100%, cover
    background-position: left center, left center
    background-repeat: no-repeat, no-repeat
    background-origin: border-box, border-box
    @include mbp-down(lg)
        height: calc(100% - 300px)
        top: 300px
        background: linear-gradient(to right, rgba(20,33,89,0.2) 0%, #142159 100%)




.section[data-id="1-5"]
    background: #fff

.section[data-id="1-5"] .graphics
    @include mbp-down(lg)
        padding-top: 48px





.section[data-id="1-6"]
    background: $bg-color

.section[data-id="1-6"] .content
    grid-column: 1 / span 2

.section[data-id="1-6"] .graphics
    grid-column: 4 / span 6
    @include mbp-down(lg)
        padding-top: 0px





.barchart_2
    border-top: 0.5px solid black
    padding-top: 10px
    span
        font-family: $font-primary
        font-style: normal
        font-weight: 600
        line-height: 24px
        font-size: 18px
        display: block
        margin-bottom: 24px

    svg
        @include mbp-down(lg)
            display: block
            margin: 0 auto
        @include mbp-down(md)
            width: 100%
            height: auto

#cw-quote
    color: #F55C1C
    font-family: $font-headings
    font-size: 30px
    font-style: normal
    font-weight: 400
    line-height: 30px
    letter-spacing: -1.5px
    width: 100%
    max-width: 450px
    margin-bottom: 24px
    margin-top: 34px
    @include mbp-down(lg)
        margin: 34px auto 24px auto
    
    .cw-quote-text
        @include mbp-down(lg)
            


    .cw-quote-line
        width: 100%
        height: 1px
        background: #F55C1C
        tranasform-origin: center center
    .cw-quote-line-top
        margin-bottom: 20px
    .cw-quote-line-bottom
        margin-top: 20px



    span
        color: #F55C1C
        font-family: $font-primary
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: 24px

    sup
        vertical-align: super
        font-size: 0.7em
        line-height: 1


.links
    grid-column: 1 / span 10
    grid-row: 2
    width: 100%
    max-width: 450px
    margin-top: unset !important
    @include mbp-down(lg)
        margin: 0 auto !important
    li
        font-size: 8px !important
        line-height: 14px
        margin-bottom: 0px
        word-break: break-word
        margin-bottom: 8px
        font-family: $font-primary
        color: #F0AB82

.image
    width: 100vw
    height: 300px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    &[data-id="1"]
        background-image: url('/images/art1_d.jpg')
    
    &[data-id="5-1"]
        background-image: url('/images/frame1.png')
    &[data-id="5-2"]
        background-image: url('/images/frame2.png')   
    &[data-id="5-3"]
        background-image: url('/images/frame3.png')   
    
    &[data-id="5-1"],
    &[data-id="5-2"],
    &[data-id="5-3"]
        position: absolute
        width: 388px
        height: 388px
        transform-origin: center center
        @include mbp-down(md)
            width: 300px
            height: 300px


.animated-bubbles
    position: relative
    width: 388px
    height: 388px
    @include mbp-down(md)
        width: 300px
        height: 300px