@use 'variables' as *
@use 'mixins' as *
@use 'fonts.sass'
@use 'segment.sass'
@use 'hero.sass'
@use 'list.sass'

.bgg
    position: absolute
    background: url('/images/bg4.png') left top no-repeat
    background-size: 989px 458px
    width: 989px
    height: 458px
    z-index: 1000
    top: 43px
    left: 326px
    opacity: 0
    opacity: 1
    transform: scale(1.3)
    opacity: 0.2
    pointer-events: none

.section[data-id="1-0"]
    height: 500px
    @media (max-width: 600px)
        height: 240px

.section[data-id="1-1"],
.section[data-id="1-6"]
    background: $bg-color
.section[data-id="1-2"],

.section[data-id="1-4"],
.section[data-id="1-5"]
    background: #fff

.section[data-id="1-3"]
    background: #efeded


.section[data-id="1-4"]
    background: linear-gradient(to right, rgba(20,33,89,0) 0%, rgba(20,33,89,0.2) 20%, #142159 50%), url('/images/groups.jpg') left center no-repeat
    background-size: 100% 100%, contain
    background-position: left center, left center
    background-repeat: no-repeat, no-repeat
    background-origin: border-box, border-box

// .title
//     color: #00F
//     font-family: $font-headings
//     font-size: 50px
//     font-style: normal
//     line-height: 57px
//     font-weight: 400
//     letter-spacing: -1.5px
//     @include mbp-down(md)
//         margin-bottom: 24px

// .barchart_1
//     display: flex
//     color: white
//     justify-content: flex-end
//     @include mbp-down(md)
//         flex-direction: column

//     span
//         font-size: 14px
//         @include mbp-down(md)
//             margin-bottom: 24px

.barchart_2
    border-top: 0.5px solid black
    padding-top: 10px
    span
        font-family: $font-primary
        font-style: normal
        font-weight: 600
        line-height: 24px
        font-size: 18px
        display: block
        margin-bottom: 24px

#cw-quote
    color: #F55C1C
    font-family: $font-headings
    font-size: 30px
    font-style: normal
    font-weight: 400
    line-height: 30px
    letter-spacing: -1.5px
    width: 100%
    max-width: 450px
    border-top: 1px solid #F55C1C
    border-bottom: 1px solid #F55C1C
    padding-top: 20px
    padding-bottom: 20px
    margin-bottom: 24px
    margin-top: 34px

    span
        color: #F55C1C
        font-family: $font-primary
        font-size: 18px
        font-style: normal
        font-weight: 600
        line-height: 24px

    sup
        vertical-align: super
        font-size: smaller

.links
    grid-column: 1 / span 10
    grid-row: 2
    width: 100%
    max-width: 450px
    margin-top: unset !important
    li
        font-size: 8px !important
        line-height: 14px
        margin-bottom: 0px
        word-break: break-word
        margin-bottom: 8px
        font-family: $font-primary
        color: #F0AB82

.section .content
    grid-column: 1 / span 5
    grid-row: 2
    max-width: 100%

.section .graphics
    grid-column: 7 / span 5
    grid-row: 2 / span 1
    max-width: 100%


.section[data-id="1-6"] .content
    grid-column: 1 / span 2

.section[data-id="1-6"] .graphics
    grid-column: 4 / span 6




.section .inner
    padding-bottom: 100px
    padding-top: 100px

.section[data-id="1-1"] .graphics
    width: 100%
    height: 100%
    display: flex
    position: relative
    justify-content: center
    align-items: center



    // @include mbp-down(md)
    //     width: 100vw
    //     max-width: 100vw
    //     margin-left: -2rem
    //     margin-right: -2rem
    //     padding: 2rem
    //     margin-top: 24px
    //     background: #fff

.section[data-id="1-2"] .graphics
    @include mbp-down(md)
        width: 100vw
        max-width: 100vw
        margin-left: -2rem
        margin-right: -2rem
        padding: 2rem
        margin-top: 24px

.section[data-id="1-3"] .graphics
    @include mbp-down(md)
        width: 100vw
        max-width: 100vw
        margin-left: -2rem
        margin-right: -2rem
        padding: 2rem
        margin-top: 24px

.section[data-id="1-1"] .inner
    @include mbp-down(md)
        padding-bottom: 0px
    // padding-top: 24px

.section[data-id="1-2"] .inner
    @include mbp-down(md)
        padding-top: 0px
        padding-bottom: 0px
    // padding-top: 24px

.section[data-id="1-2"] .inner
    align-items: flex-end


.image
    width: 100vw
    height: 300px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    &[data-id="1"]
        background-image: url('/images/art1_d.jpg')
    &[data-id="5"]
        width: 259px
        height: 320px
        background-image: url('/images/frame.png')
        transform-origin: center center
        transform: scale(1.5)

.svg-formula
    @include mbp-down(md)
        width: 100%
        height: auto
