<section class="hero" style="height: 94px;">
</section>

<section class="section" data-id="2-0">
    <div class="hero-bg-image" data-id="2"></div>
    {{!-- <video bg-src="images/agency_hero_d.jpg" autoplay="" muted="" loop="" id="backgroundvideobcad946d" poster="images/agency_hero_d.jpg" playsinline="true" disablepictureinpicture="true" preload="metadata" class="lazy astro-vnjtzwb2 entered loaded" data-ll-status="loaded">
        <source data-src="video/agency.mp4" type="video/mp4" class="astro-vnjtzwb2" src="video/agency.mp4">
    </video> --}}
</section>

<section class="section" data-id="2-1">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                {{!-- <h1 class="title">The Role of the Agency</h2> --}}

                    <article class="content">
                        {{> segment
                        dataId="2-1"
                        h1title="The Role of the Agency"
                        size=1
                        description="With AI expected to reshape marketing, what role do external partners play and how
                        might this change?"
                        children='<p>We asked senior marketing and communications leaders to quantify, describe and
                            forecast their agency outsourcing and we were (pleasantly) surprised at their heavy reliance
                            on companies like ours.</p>'
                        }}
                    </article>

                    <aside class="graphics">

                        <div class="values" data-id="1">
                            <div class="value">
                                <div><span>></span>80<span>%</span></div>
                                <div>More than 80% are outsourcing in some capacity</div>
                            </div>
                            <div class="value">
                                <div>56<span>%</span></div>
                                <div>56% are using agencies for at least one third of their work</div>
                            </div>
                        </div>

                    </aside>

            </div>
        </div>
    </div>


   
</section>

<section class="section" data-id="2-2">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">


                <article class="content">
                    {{> segment
                    dataId="2-2"
                    title="Why Does Outsourcing Remain So&nbsp;Prevalent?"
                    size=1
                    description=""
                    children='
                    <p>The clearest driver is resourcing.</p>
                    <p>94% of respondents reported constraints in this area, whether
                        as a persistent challenge or an acute one. And we know that managing resource scarcity with an
                        external commission is often internally more palatable - easier, faster and lower risk - than
                        adding permanent headcount.</p>
                    <p>But beyond capacity, the quality bar is proving difficult to meet too.</p>
                        <div class="multybar" data-id="2"></div>
                    '
                    }}
                </article>




                <aside class="graphics">
                    
                    {{> segment
                    dataId="2-2-2"
                    title=""
                    size=1
                    description=""
                    children='
                    <div class="donats-box">
                    <div class="donat" data-id="1"></div>
                    <div class="donat" data-id="2"></div>
                    </div>

                    <p>Almost 70% of respondents
                        identified content quality as a concern, with companies experiencing skills gaps in content
                        strategy and storytelling. We assume that LLMs are compensating for any gaps in writing
                        expertise, but identifying and truly understanding the hooks, evidence, and pitch that will
                        engage specific audiences is still a sought-after human talent. </p>
                    '
                    }}






                </aside>

            </div>
        </div>
    </div>

    
</section>

<section class="section" data-id="2-3">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">
                    {{> segment
                    dataId="2-3"
                    title="Creating Content With Confidence"
                    size=1
                    description=""
                    children='
                    <p>We think there is another critical value that external agencies provide to their clients - and we
                        even include this among our own marketing taglines: confidence.</p>
                    <p>Teams that lack confidence generally default to doing what has worked for them before, but when
                        the landscape is changing as quickly as it is currently, doing the same could put you in the
                        slow lane.</p>
                    <p>No one can afford to be complacent in a fast-moving environment, including those with deep
                        experience.</p>
                    <p>The pace of change demands constant curiosity. We all need to stay informed, stay adaptable, and
                        above all, stay sharp.</p>
                    '
                    }}
                </article>




                <aside class="graphics">
                    <div class="list" data-id="4"></div>
                </aside>

            </div>
        </div>
    </div>




</section>