<section class="hero" style="height: 94px;">
</section>

<section class="section" data-id="3-0">
    <div class="hero-bg-image" data-id="3"></div>
</section>

<section class="section" data-id="3-1">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <h1 class="title">Key findings from the Global Marketing Leaders Content study</h1>

                <article class="content">
                    {{> segment
                    dataId="3-1"
                    title="Storytelling for Selling"
                    size=1
                    description=""
                    children='
                    <p>Driving sales is the overwhelming objective of content marketing, according to our survey.</p>
                    <p>For some, that means enabling commercial teams with better tools and narratives. For others, it
                        means content that could generate leads directly. Either way, the story needs to show up in
                        service of revenue and prove its value.</p>
                    '
                    }}
                </article>

                <aside class="graphics" data-id="3-1">
                    <div class="list" data-id="5"></div>


                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="3-2">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">

                    <div class="image" data-id="3"></div>

                    {{> segment
                    dataId="3-2"
                    title="The ROI Reckoning"
                    size=1
                    description=""
                    children='
                    <div class="list" data-id="6"></div>
                    <p>Business leaders want to see the link between content and commercial performance. Under pressure
                        to demonstrate results, teams are tightening strategies, especially when it comes to video:</p>
                    <p><b>Shorter formats:</b><br> Organic reach on LinkedIn isn’t what it used to be. Marketers are
                        shaving time off content to meet shifting attention spans.</p>
                    <p><b>More outputs from every shoot:</b><br>16:9, 9:16, 1:1; one video now becomes ten. There’s a
                        version for every platform and every screen size.</p>
                    <p><b>Smarter tracking:</b><br> Investment is flowing into websites - not just for aesthetics, but
                        to better map content to conversion.</p>
                    '
                    }}
                </article>

                <aside class="graphics" data-id="3-2">
                    <div class="donat" data-id="3"></div>
                    <div class="donat" data-id="4"></div>
                    <div class="linechart" data-id="1"></div>
                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="3-3">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">
                    {{> segment
                    dataId="3-3"
                    title="The Metrics Dilemma: Vanity vs Value"
                    size=1
                    description=""
                    children='
                    <p>Marketers are caught in a familiar bind when it comes to measurement. Social media is seen as a
                        must, everyone agrees you need to be there, but few believe the metrics tell the full story.
                        Likes, shares, and comments may signal engagement, but they don’t prove impact or justify spend.
                    </p>
                    <p>By contrast, many marketers pointed to their website as the most meaningful place to measure
                        content ROI. It’s where performance feels tangible, trackable, and tied to actual outcomes.</p>
                    '
                    }}
                    <div class="image" data-id="4"></div>
                </article>

                <aside class="graphics" data-id="3-3">
                    <div class="donat" data-id="5"></div>
                    <div class="linechart" data-id="2"></div>
                    <div class="linechart" data-id="3"></div>
                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="3-4">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">
                    {{> segment
                    dataId="3-4"
                    title="The Thought Leadership Paradox"
                    size=1
                    description=""
                    children='
                    <p>Case studies came out on top when we asked what’s working best for building trust. But here’s the
                        paradox. Marketing leaders told us they value proprietary research as a content marketing asset
                        but they didn’t trust that white papers were widely read anymore. They commission surveys, but
                        their webinars are underattended. They launch podcasts, but the listener numbers underwhelm.</p>
                    <p>This isn’t a content quality issue. It’s a distribution one. It’s clear the appetite for
                        credibility-building content is strong, but finding ways to land it with the right audience
                        remains a real challenge.</p>
                    <p>The rapid emergence of LLMs and the increasingly critical role they are playing in intermediating
                        every company’s message give a new relevance to the respected, validated, deep dive content that
                        white papers produce.</p>
                    '
                    }}




                </article>

                <aside class="graphics" data-id="3-4">
                    <div class="donat" data-id="6"></div>
                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="3-5">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">



                    {{> segment
                    dataId="3-5"
                    title="Closed Doors Help to Close Deals"
                    size=1
                    description=""
                    children='
                    <p>Events are having a resurgence, understandably. In an increasingly politicised landscape, private
                        roundtables and invite-only gatherings offer a controlled space for candid conversations.</p>
                    <p>Just as importantly, they offer conversion clarity: “X people came. X agreed to sales meetings.”
                        That kind of cause-and-effect narrative is hard to beat, especially when marketing is under the
                        microscope.</p>
                    <p>And marketing leaders don’t expect that to change any time soon.</p>
                    '
                    }}


                </article>

                <aside class="graphics" data-id="3-5">
                    <div class="linechart" data-id="4"></div>
                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="3-6">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">



                    {{> segment
                    dataId="3-6"
                    title="Video Killed the Radio Star"
                    size=1
                    description=""
                    children='
                    <p>Two years ago, podcasts were the darling of B2B marketing. Not so today. That’s not to say audio
                        is irrelevant. Podcast listening is still expanding. </p>
                    <p>But in terms of effectiveness, video is the clear leader. </p>
                    <p>The shift we’re seeing is simple: If you’re going to invest time in a high-quality content
                        discussion, film it. You can still release an audio version but the video will do more work
                        across more platforms.</p>
                    <p>This isn’t about reach for the sake of it. It’s about traction. Video gets shared, clipped,
                        subtitled, repurposed. It has range. And always provide a text transcript to ensure the machines
                        ‘hear’ your podcast too, and will also be able to share highlights.</p>
                    '
                    }}


                </article>

                <aside class="graphics" data-id="3-6">
                    <div class="multybar" data-id="1"></div>
                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="3-7">
    <div class="image" data-id="2"></div>
</section>

<section class="section" data-id="3-8">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">



                    {{> segment
                    dataId="3-7"
                    title="Social Media: The C Suite Got the Memo. Now Time for Everyone Else"
                    size=1
                    description=""
                    children='
                    <p>87% of our respondents said it’s important for senior decision makers to have a presence on
                        social platforms, but this wasn’t raised as a major concern.</p>
                    <p>That’s because support structures are now in place, ensuring the top layer of leadership is
                        visible, briefed, and backed.</p>
                    <p>The gap now sits a few rungs down. Subject matter experts, functional leads, and mid-level
                        managers are the new blind spot. They’re the ones missing from the conversation despite often
                        being the people prospects most want to hear from.</p>
                    '
                    }}


                </article>

                <aside class="graphics" data-id="3-7">
                    <div class="donat" data-id="7"></div>
                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="3-9">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">



                    {{> segment
                    dataId="3-8"
                    title="What’s next?"
                    size=1
                    description=""
                    children='
                    <p>These insights demonstrate that sales enablement is an acute focus for marketing and
                        communications teams, as it should be. We read from this that there is broad acceptance these
                        days that marketing is a critical growth driver even in years like this one when economic
                        forecasts are being negatively impacted by trade wars.</p>
                    <p>There was a time when corporate headwinds were met with budget cuts in marketing departments. But
                        budget constraints did not feature heavily as a challenge in our survey, suggesting that
                        marketing is now viewed as an important resilience tool. The focus is more on budget
                        justification and ROI.</p>
                    <p>What’s less clear, but looming large, is the impact AI will have on content creation itself. </p>
                    <p>While there was broad agreement that AI will be a game changer in the years ahead, few had strong
                        evidence of what that will look like, particularly in terms of how it will reshape team
                        structures, resourcing, and budgets. The direction of travel is clear; the road map is still
                        being developed.</p>


                    '
                    }}


                </article>

                <aside class="graphics" data-id="3-8">



                    {{> segment
                    dataId="3-9"
                    title="Methodology: qualitative, in person surveys"
                    size=1
                    description=""
                    children='
                    <div class="values" data-id="2">
                        <div class="value">
                            <div>32</div>
                            <div>marketing leaders, VP level or above</div>
                        </div>
                        <div class="value">
                            <div>28</div>
                            <div>results were taken in person</div>
                        </div>
                    </div>

                    <div class="linechart" data-id="5"></div>
                    <div class="linechart" data-id="6"></div>

                    '
                    }}






                </aside>

            </div>
        </div>
    </div>
</section>