<section class="hero" style="height: 94px;">  
</section>

<section class="section" data-id="1-0">
    <div class="hero-bg-image" data-id="1"></div>
   {{!-- <video bg-src="images/machines_hero_d.jpg" autoplay="" muted="" loop="" id="backgroundvideobcad946d" poster="images/machines_hero_d" playsinline="true" disablepictureinpicture="true" preload="metadata" class="lazy astro-vnjtzwb2 entered loaded" data-ll-status="loaded">
        <source data-src="video/machines.mp4" type="video/mp4" class="astro-vnjtzwb2" src="video/machines.mp4">
    </video> --}}
</section>

<section class="section" data-id="1-1">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">
                    {{> segment
                    dataId="1-1"
                    h1title="Marketing to Machines"
                    size=1
                    description="A fundamental shift is afoot in marketing, but most companies are yet to respond or
                    even fully register the change"
                    children='<p>Every company has a new Chief Spokesperson. Actually a team of spokespeople, who could
                        theoretically be answering questions about your business 24/7 - describing you to potential
                        employees, interested prospects, possible acquirers and discerning investors.</p>
                    <p>You probably haven’t trained them on what to say - there’s a scary thought - and they can say
                        anything they like. Well, anything their model leads them to say.</p>
                        <p>These de facto
                        representatives of your brand are large language models (LLMs) such as ChatGPT, Claude, Gemini,
                        and Perplexity. Their influence on how your company is understood in the market is both
                        immediate and expanding.</p>'
                    }}
                </article>

                <aside class="graphics">
                    <div class="image" data-id="5"></div>
                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-2">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">

                    {{> segment
                    dataId="1-2"
                    title="The Rise of Generative AI Search"
                    size=1
                    description=""
                    children='
                    <p>Gartner predicts that brands’ organic search traffic will decrease by 50% by 2028 as people
                        embrace generative AI-powered search. Consumers are already turning to LLMs for everyday
                        recommendations - where to eat, what to buy, how to live.</p>
                    <p>Increasingly executives, clients, candidates, and journalists regularly ask them to evaluate your
                        services, compare you to competitors, and summarise your expertise.</p>
                    <p>What they see won’t necessarily be your website or your latest branded content. It will be a
                        machine’s interpretation of everything it has found out about you. That interpretation will
                        serve as your virtual shop window. These LLMs are now the default gatekeepers of your corporate
                        narrative.</p>'
                    }}

                </article>

                <aside class="graphics" data-id="1-2">
                    {{> segment
                    dataId="1-2-2"
                    title=""
                    size=1
                    description=""
                    children='
                    <p>Yet while their influence is growing rapidly, few brands have made a deliberate
                        effort to shape what these models actually say.</p>
                    <p>The focus has largely been on using AI to produce content we control rather than recognising that
                        AI is already interpreting and amplifying content we don’t. And that distinction matters.
                        Because what the machines are saying today could be shaping business decisions before you’ve had
                        a chance to speak for yourself.</p>
                        
                        
                    <p id="cw-quote">Brands’ organic search traffic will decrease by 50<span>%</span> by 2028<sup>1</sup></p>

                    <ul class="links">
                        <li>
                            1. <a href="https://www.gartner.com/en/newsroom/press-releases/2023-12-14-gartner-predicts-fifty-percent-of-consumers-will-significantly-limit-their-interactions-with-social-media-by-2025#:~:text=by%202028%2c%20brands%27%20organic%20search,organic%20search%20to%20drive%20sales." target="_blank" rel="noopener noreferrer">https://www.gartner.com/en/newsroom/press-releases/2023-12-14-gartner-predicts-fifty-percent-of-consumers-will-significantly-limit-their-interactions-with-social-media-by-2025#:~:text=by%202028%2c%20brands%27%20organic%20search,organic%20search%20to%20drive%20sales.\</a>
                        </li>
            
                    </ul>
                        '
                    }}
                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-3">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">
                <article class="content">
                    {{> segment
                        dataId="1-3"
                        title="Optimising for Machines:<br>Practical Steps"
                        size=1
                        description=""
                        children='
                            <div class="list" data-id="1"></div>
                        '
                    }}
                </article>

                <aside class="graphics" data-id="1-3">
                   <div class="list" data-id="2"></div>
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-4">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">
                <article class="content">
  
                </article>

                <aside class="graphics">
                    {{> segment
                        dataId="1-4"
                        title="Your Website Is Now a Signal to the Machines"
                        size=1
                        description=""
                        children='
                        <p>Start showing your website a new kind of love. We’ve all been seduced by the daily dopamine hits of social media through likes, comments and shares but websites are  now an important content hub for training machines to recommend you.</p>
                        <p>High quality, trustworthy content that offers in-depth explanations of what you do, your products and your core values is essential. LLMs will take good note of authoritative output, just as Google does in ranking pages.</p>
                        <p>In the coming years, we’ll likely see a drop in direct human website traffic as people ask AI assistants to research for them, so we’ll also need to find new ways to measure the effectiveness of our content in the form of optimal LLM responses.</p>
                        '
                    }}
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-5">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">
                <article class="content">
                       {{> segment
                        dataId="1-8"
                        title="Back to the Future: Legacy Media’s Quiet Return"
                        size=1
                        description=""
                        children='
                        <p>While most marketers we spoke to still believe in the credibility and influence of legacy media, industry revenues suggest budgets are flowing elsewhere - towards owned channels and in-house production. But in an AI-powered search environment, legacy outlets may be regaining relevance. Tools like Perplexity now cite their sources,  and those sources often include local news, niche trade journals, and established publishers. In this new landscape, a credible media mention doesn’t just build reputation - it could directly shape what LLMs say about your brand.</p>
                        <p>As generative AI starts shaping buying journeys, we may see a resurgence in media relations, with PR playing a crucial new role in helping brands stay top of mind (and top of model output).</p>
                        '
                        }}
                </article>

                <aside class="graphics">
                    <figure class="barchart_2" data-id="1">
                        <span>Q. Rate the effectiveness of legacy media as a distribution channel</span>
                        <svg width="349" height="355" viewBox="0 0 349 355" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="332.5" x2="349" y2="332.5" stroke="black"/>

                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="7" y="352.2">1 (low)</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="102" y="352.2">2</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="172" y="352.2">3</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="244" y="352.2">4</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="305" y="352.2">5 (High)</tspan></text>

                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="15" y="95.2">19%</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="96" y="212.2">9%</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="164" y="94.2">22%</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="237" y="16.2">28%</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="313" y="95.2">22%</tspan></text>

                        <path d="M15 322.468C15 327.182 18.8219 331 23.5405 331C28.2592 331 32.0811 327.182 32.0811 322.468V109.647C32.0811 104.933 28.2592 101.115 23.5405 101.115C18.8219 101.115 15 104.933 15 109.647V322.468Z" fill="#F0EDED"/>
                        <path d="M95.5371 322.467C95.5371 327.182 99.359 331 104.078 331C108.796 331 112.618 327.182 112.618 322.467V226.84C112.618 222.126 108.796 218.308 104.078 218.308C99.359 218.308 95.5371 222.126 95.5371 226.84V322.467Z" fill="#D6D1CF"/>
                        <path d="M164.844 322.468C164.844 327.182 168.666 331 173.384 331C178.103 331 181.925 327.182 181.925 322.468V109.647C181.925 104.933 178.103 101.115 173.384 101.115C168.666 101.115 164.844 104.933 164.844 109.647V322.468Z" fill="#CFCFFF"/>
                        <path d="M236.969 322.468C236.969 327.182 240.791 331 245.509 331C250.228 331 254.05 327.182 254.05 322.468V31.5324C254.05 26.8183 250.228 23 245.509 23C240.791 23 236.969 26.8183 236.969 31.5324V322.468Z" fill="#6666FF"/>
                        <path d="M313.919 322.468C313.919 327.182 317.741 331 322.459 331C327.178 331 331 327.182 331 322.468V109.647C331 104.933 327.178 101.115 322.459 101.115C317.741 101.115 313.919 104.933 313.919 109.647V322.468Z" fill="#0000FF"/>
                        </svg>
                    </figure>   
                </aside>
            </div>
        </div>
    </div>
</section>

{{!-- <div class="bgg"></div> --}}

<section class="section" data-id="1-6">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">
                <article class="content">
                          {{> segment
                        dataId="1-9"
                        title="Ask yourself"
                        size=1
                        description=""
                        children='
  
                        '
                        }}
                </article>

                <aside class="graphics">


{{> segment
    dataId="1-10"
    title=""
    size=1
    description=""
    children='

<div class="list" data-id="3"></div>
<p>You may be surprised by the answers today. Brands willing to seriously explore these questions now can get ahead of the game in understanding the changing world of search. </p>
<p>In doing so, and by intentionally training the machines, companies can create a new source of competitive advantage.</p>

    '}}

           






                </aside>
            </div>
        </div>
    </div>
</section>