<section class="hero">  
</section>

<section class="section" data-id="1-0">
    {{!-- <div class="hero-bg-image" data-id="1"></div> --}}
   <video bg-src="video/machines_000.jpg" autoplay="" muted="" loop="" id="backgroundvideobcad946d" poster="video/machines_000.jpg" playsinline="true" disablepictureinpicture="true" preload="metadata" class="lazy astro-vnjtzwb2 entered loaded" data-ll-status="loaded">
        <source data-src="video/machines.mp4" type="video/mp4" class="astro-vnjtzwb2" src="video/machines.mp4">
    </video>
</section>

<section class="section" data-id="1-1">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">
                    {{> segment
                    dataId="1-1"
                    h1title="Marketing to Machines"
                    size=1
                    description="A fundamental shift is afoot in marketing, but most companies are yet to respond or
                    even fully register the change"
                    children='<p>Every company has a new Chief Spokesperson. Actually a team of spokespeople, who could
                        theoretically be answering questions about your business 24/7 - describing you to potential
                        employees, interested prospects, possible acquirers and discerning investors.</p>
                    <p>You probably haven’t trained them on what to say - there’s a scary thought - and they can say
                        anything they like. Well, anything their model leads them to say.</p>
                        <p>These de facto
                        representatives of your brand are large language models (LLMs) such as ChatGPT, Claude, Gemini,
                        and Perplexity. Their influence on how your company is understood in the market is both
                        immediate and expanding.</p>'
                    }}
                </article>

                <aside class="graphics">

                    <div class="animated-bubbles">
                        <div class="image" data-id="5-1"></div>
                        <div class="image" data-id="5-2"></div>
                        <div class="image" data-id="5-3"></div>
                    </div>
                    
                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-2">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">

                    {{> segment
                    dataId="1-2"
                    title="The Rise of Generative AI Search"
                    size=1
                    description=""
                    children='
                    <p>Gartner predicts that brands’ organic search traffic will decrease by 50% by 2028 as people
                        embrace generative AI-powered search. Consumers are already turning to LLMs for everyday
                        recommendations - where to eat, what to buy, how to live.</p>
                    <p>Increasingly executives, clients, candidates, and journalists regularly ask them to evaluate your
                        services, compare you to competitors, and summarise your expertise.</p>
                    <p>What they see won’t necessarily be your website or your latest branded content. It will be a
                        machine’s interpretation of everything it has found out about you. That interpretation will
                        serve as your virtual shop window. These LLMs are now the default gatekeepers of your corporate
                        narrative.</p>'
                    }}

                </article>

                <aside class="graphics" data-id="1-2">
                    {{> segment
                    dataId="1-2-2"
                    title=""
                    size=1
                    description=""
                    children='
                    <p>Yet while their influence is growing rapidly, few brands have made a deliberate
                        effort to shape what these models actually say.</p>
                    <p>The focus has largely been on using AI to produce content we control rather than recognising that
                        AI is already interpreting and amplifying content we don’t. And that distinction matters.
                        Because what the machines are saying today could be shaping business decisions before you’ve had
                        a chance to speak for yourself.</p>
                        
                        
                    <div id="cw-quote">
                        <div class="cw-quote-line cw-quote-line-top"></div>
                        <div class="cw-quote-text">
                            Brands’ organic search traffic will decrease by 50<span>%</span> by 2028<sup>1</sup>
                        </div>
                        <div class="cw-quote-line cw-quote-line-bottom"></div>
                    </div>
                    <ul class="links">
                        <li>
                            1. <a href="https://www.gartner.com/en/newsroom/press-releases/2023-12-14-gartner-predicts-fifty-percent-of-consumers-will-significantly-limit-their-interactions-with-social-media-by-2025#:~:text=by%202028%2c%20brands%27%20organic%20search,organic%20search%20to%20drive%20sales." target="_blank" rel="noopener noreferrer">https://www.gartner.com/en/newsroom/press-releases/2023-12-14-gartner-predicts-fifty-percent-of-consumers-will-significantly-limit-their-interactions-with-social-media-by-2025#:~:text=by%202028%2c%20brands%27%20organic%20search,organic%20search%20to%20drive%20sales.\</a>
                        </li>
                    </ul>


                        '
                    }}
                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-3">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">
                <article class="content">
                    {{> segment
                        dataId="1-3"
                        title="Optimising for Machines:<br>Practical Steps"
                        size=1
                        description=""
                        children='
                            <div class="list" data-id="1"></div>
                        '
                    }}
                </article>

                <aside class="graphics" data-id="1-3">
                   <div class="list" data-id="2"></div>
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-4">
    <div class="wrapper">
        <div class="background">
            <div class="background-image"></div>
            <div class="background-gradient"></div>
        </div>
        <div class="container">
            <div class="inner">
                <article class="content">
                </article>

                <aside class="graphics">
                    {{> segment
                        dataId="1-4"
                        title="Your Website Is Now a Signal to the Machines"
                        size=1
                        description=""
                        children='
                        <p>Start showing your website a new kind of love. We’ve all been seduced by the daily dopamine hits of social media through likes, comments and shares but websites are  now an important content hub for training machines to recommend you.</p>
                        <p>High quality, trustworthy content that offers in-depth explanations of what you do, your products and your core values is essential. LLMs will take good note of authoritative output, just as Google does in ranking pages.</p>
                        <p>In the coming years, we’ll likely see a drop in direct human website traffic as people ask AI assistants to research for them, so we’ll also need to find new ways to measure the effectiveness of our content in the form of optimal LLM responses.</p>
                        '
                    }}
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-5">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">
                <article class="content">
                       {{> segment
                        dataId="1-8"
                        title="Back to the Future: Legacy Media’s Quiet Return"
                        size=1
                        description=""
                        children='
                        <p>While most marketers we spoke to still believe in the credibility and influence of legacy media, industry revenues suggest budgets are flowing elsewhere - towards owned channels and in-house production. But in an AI-powered search environment, legacy outlets may be regaining relevance. Tools like Perplexity now cite their sources,  and those sources often include local news, niche trade journals, and established publishers. In this new landscape, a credible media mention doesn’t just build reputation - it could directly shape what LLMs say about your brand.</p>
                        <p>As generative AI starts shaping buying journeys, we may see a resurgence in media relations, with PR playing a crucial new role in helping brands stay top of mind (and top of model output).</p>
                        '
                        }}
                </article>

                <aside class="graphics">
                    <figure class="barchart_2" data-id="1">
                        <span>Q. Rate the effectiveness of legacy media as a distribution channel</span>

                        <svg width="480" height="355" viewBox="0 0 480 355" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 333H687.679" stroke="black"/>
                            <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="9.62751" y="352.064">1 (low)</tspan></text>
                            <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="140.287" y="352.064">2</tspan></text>
                            <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="236.562" y="352.064">3</tspan></text>
                            <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="335.587" y="352.064">4</tspan></text>
                            <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="419.484" y="352.064">5 (High)</tspan></text>
                            <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="20.6304" y="95.0636">19%</tspan></text>
                            <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="133.034" y="206.064">9%</tspan></text>
                            <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="225.559" y="94.0636">22%</tspan></text>
                            <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="325.96" y="20.0636">28%</tspan></text>
                            <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="431.487" y="95.0636">22%</tspan></text>
                            <path d="M20.937 312.983C20.937 317.413 26.0832 321 32.4369 321C38.7907 321 43.937 317.413 43.937 312.983V113.017C43.937 108.587 38.7907 105 32.4369 105C26.0832 105 20.937 108.587 20.937 113.017V312.983Z" fill="#F0EDED"/>
                            <path d="M130.937 312.974C130.937 317.409 136.307 321 142.938 321C149.567 321 154.937 317.409 154.937 312.974V223.025C154.937 218.591 149.567 215 142.938 215C136.307 215 130.937 218.591 130.937 223.025V312.974Z" fill="#D6D1CF"/>
                            <path d="M226.937 312.983C226.937 317.413 232.083 321 238.436 321C244.791 321 249.937 317.413 249.937 312.983V113.017C249.937 108.587 244.791 105 238.436 105C232.083 105 226.937 108.587 226.937 113.017V312.983Z" fill="#CFCFFF"/>
                            <path d="M325.937 312.994C325.937 317.418 331.083 321 337.436 321C343.791 321 348.937 317.418 348.937 312.994V40.0061C348.937 35.5828 343.791 32 337.436 32C331.083 32 325.937 35.5828 325.937 40.0061V312.994Z" fill="#6666FF"/>
                            <path d="M431.937 312.983C431.937 317.413 437.083 321 443.436 321C449.791 321 454.937 317.413 454.937 312.983V113.017C454.937 108.587 449.791 105 443.436 105C437.083 105 431.937 108.587 431.937 113.017V312.983Z" fill="#0000FF"/>
                        </svg>

                    </figure>   
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-6">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">
                <article class="content">
                          {{> segment
                        dataId="1-9"
                        title="Ask yourself"
                        size=1
                        description=""
                        children='
  
                        '
                        }}
                </article>

                <aside class="graphics">


{{> segment
    dataId="1-10"
    title=""
    size=1
    description=""
    children='

<div class="list" data-id="3"></div>
<p>You may be surprised by the answers today. Brands willing to seriously explore these questions now can get ahead of the game in understanding the changing world of search. </p>
<p>In doing so, and by intentionally training the machines, companies can create a new source of competitive advantage.</p>

    '}}

           






                </aside>
            </div>
        </div>
    </div>
</section>