<section class="hero" style="height: 94px;">  
</section>

<section class="section" data-id="1-0">
    {{!-- <div class="hero-bg-image" data-id="1"></div> --}}

   <video bg-src="images/machines_hero_d.jpg" autoplay="" muted="" loop="" id="backgroundvideobcad946d" poster="images/machines_hero_d" playsinline="true" disablepictureinpicture="true" preload="metadata" class="lazy astro-vnjtzwb2 entered loaded" data-ll-status="loaded">
        <source data-src="video/machines.mp4" type="video/mp4" class="astro-vnjtzwb2" src="video/machines.mp4">
    </video>

</section>

<section class="section" data-id="1-1">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <h1 class="title">Marketing to Machines</h1>

                <article class="content">
                    {{> segment
                    dataId="1-1"
                    title=""
                    size=1
                    description="A fundamental shift is afoot in marketing, but most companies are yet to respond or
                    even fully register the change"
                    children='<p>Every company has a new Chief Spokesperson. Actually a team of spokespeople, who could
                        theoretically be answering questions about your business 24/7 - describing you to potential
                        employees, interested prospects, possible acquirers and discerning investors.</p>
                    <p>You probably haven’t trained them on what to say - there’s a scary thought - and they can say
                        anything they like. Well, anything their model leads them to say.</p>
                        <p>These de facto
                        representatives of your brand are large language models (LLMs) such as ChatGPT, Claude, Gemini,
                        and Perplexity. Their influence on how your company is understood in the market is both
                        immediate and expanding.</p>'
                    }}
                </article>

                <aside class="graphics">
                    {{> segment
                    dataId="1-2"
                    title="The Rise of Generative AI Search"
                    size=1
                    description=""
                    children='
                    <p>Gartner predicts that brands’ organic search traffic will decrease by 50% by 2028 as people
                        embrace generative AI-powered search. Consumers are already turning to LLMs for everyday
                        recommendations - where to eat, what to buy, how to live.</p>
                    <p>Increasingly executives, clients, candidates, and journalists regularly ask them to evaluate your
                        services, compare you to competitors, and summarise your expertise.</p>
                    <p>What they see won’t necessarily be your website or your latest branded content. It will be a
                        machine’s interpretation of everything it has found out about you. That interpretation will
                        serve as your virtual shop window. These LLMs are now the default gatekeepers of your corporate
                        narrative. Yet while their influence is growing rapidly, few brands have made a deliberate
                        effort to shape what these models actually say.</p>
                    <p>The focus has largely been on using AI to produce content we control rather than recognising that
                        AI is already interpreting and amplifying content we don’t. And that distinction matters.
                        Because what the machines are saying today could be shaping business decisions before you’ve had
                        a chance to speak for yourself.</p>'
                    }}
                </aside>

            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-2">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">

                <article class="content">


                    <p id="cw-quote">Brands’ organic search traffic will decrease by 50<span>%</span> by 2028<sup>1</sup></p>


                    {{> segment
                    dataId="1-3"
                    title="Marketing to Machines: Where to Start?"
                    size=1
                    description=""
                    children='
                    <p>Like SEO, LLM optimisation needs to become a critical component of any content strategy, now.</p>
                    <p>We believe it’s time to build dual-track strategies, one for humans, one for machines. Content
                        for humans needs to be emotive, accessible, and easy to digest; examples include short videos,
                        trust-inspiring case studies, and first-person storytelling. For machines, it’s the opposite:
                        text, detail, structure, and citations. </p>
                    <p>While humans struggle with waning attention spans, especially as we trawl through social media,
                        Gen AI systems can process billions of operations per second without the slightest sense of
                        distraction. One study suggests white papers with quotes, statistics and citations see 30-40%
                        uplift in visibility to LLMs2. That’s because models evaluate authority based on structured
                        signals, including expert-led content, external validation, and linkable sources.</p>'
                    }}
                </article>

                <aside class="graphics" data-id="1-2">
                    {{> segment
                    dataId="1-4"
                    title="Optimising for Machines: Practical Steps"
                    size=1
                    description=""
                    children=''
                    }}

                    <div class="list" data-id="1"></div>
                    <div class="list" data-id="2"></div>
     
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="image" data-id="1"></div>
</section>

<section class="section" data-id="1-3">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">
                <article class="content">
                       {{> segment
                    dataId="1-5"
                    title="Your Website Is Now a Signal to the Machines"
                    size=1
                    description=""
                    children='
                    <p>Start showing your website a new kind of love. We’ve all been seduced by the daily dopamine hits of social media through likes, comments and shares but websites are  now an important content hub for training machines to recommend you.</p>
                    <p>High quality, trustworthy content that offers in-depth explanations of what you do, your products and your core values is essential. LLMs will take good note of authoritative output, just as Google does in ranking pages.</p>
                    <p>In the coming years, we’ll likely see a drop in direct human website traffic as people ask AI assistants to research for them, so we’ll also need to find new ways to measure the effectiveness of our content in the form of optimal LLM responses.</p>
                    '
                    }}
                </article>

                <aside class="graphics" data-id="1-3">
                    {{> segment
                    dataId="1-6"
                    title="How marketers ranked the effectiveness of content formats"
                    size=1
                    description=""
                    children='
                    <figure class="barchart_1" data-id="1">
                        <span>Humans</span>

                        <svg width="350" height="204" viewBox="0 0 350 204" fill="none" xmlns="http://www.w3.org/2000/svg">


                        <path d="M134.159 0.1875C128.109 0.1875 123.188 5.09601 123.188 11.13C123.188 17.1641 128.094 22.0726 134.159 22.0726H338.825C344.89 22.0726 349.796 17.1797 349.796 11.13C349.796 5.08037 344.89 0.1875 338.825 0.1875H134.159Z" stroke="white" stroke-width="0.25"/>
                        <path d="M134.159 36.5479C128.094 36.5479 123.188 41.4407 123.188 47.4904C123.188 53.54 128.094 58.4329 134.159 58.4329H338.825C344.89 58.4329 349.796 53.54 349.796 47.4904C349.796 41.4407 344.89 36.5479 338.825 36.5479H134.159Z" stroke="white" stroke-width="0.25"/>
                        <path d="M134.159 72.8772C128.094 72.8772 123.188 77.7701 123.188 83.8197C123.188 89.8694 128.094 94.7623 134.159 94.7623H338.825C344.89 94.7623 349.796 89.8694 349.796 83.8197C349.796 77.7701 344.89 72.8772 338.825 72.8772H134.159Z" stroke="white" stroke-width="0.25"/>
                        <path d="M134.159 109.238C128.094 109.238 123.188 114.13 123.188 120.18C123.188 126.23 128.094 131.123 134.159 131.123H338.825C344.89 131.123 349.796 126.23 349.796 120.18C349.796 114.13 344.89 109.238 338.825 109.238H134.159Z" stroke="white" stroke-width="0.25"/>
                        <path d="M134.159 145.567C128.094 145.567 123.188 150.46 123.188 156.509C123.188 162.559 128.094 167.452 134.159 167.452H338.825C344.89 167.452 349.796 162.559 349.796 156.509C349.796 150.46 344.89 145.567 338.825 145.567H134.159Z" stroke="white" stroke-width="0.25"/>
                        <path d="M134.159 181.927C128.094 181.927 123.188 186.82 123.188 192.87C123.188 198.919 128.094 203.812 134.159 203.812H338.825C344.89 203.812 349.796 198.919 349.796 192.87C349.796 186.82 344.89 181.927 338.825 181.927H134.159Z" stroke="white" stroke-width="0.25"/>
                        
                        <path d="M196.07 11.1301H337.68" stroke="#F55C1C" stroke-width="7" stroke-linecap="round"/>
                        <path d="M250.536 47.4905H337.681" stroke="#F55C1C" stroke-width="7" stroke-linecap="round"/>
                        <path d="M295.565 83.8196H337.68" stroke="#FAAA89" stroke-width="7" stroke-linecap="round"/>
                        <path d="M302.901 119.774H337.68" stroke="#FAAA89" stroke-width="7" stroke-linecap="round"/>
                        <path d="M319.107 156.697H337.681" stroke="#FCFBFB" stroke-width="7" stroke-linecap="round"/>
                        <path d="M333.213 192.87H337.68" stroke="#FCFBFB" stroke-width="7" stroke-linecap="round"/>


                        <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="25.0625" y="16.2">In-person events&#10;</tspan><tspan x="83.0469" y="52.2">Video&#10;</tspan><tspan x="74.3047" y="88.2">Articles&#10;</tspan><tspan x="21.5352" y="124.2">Data visualisation&#10;</tspan><tspan x="43.3555" y="160.2">White papers&#10;</tspan><tspan x="66.0312" y="196.2">Podcasts</tspan></text>

                        </svg>

                    </figure>
                    '
                    }}

                    {{> segment
                    dataId="1-7"
                    title="Content formats the machine reads"
                    size=1
                    description=""
                    children='
                    <figure class="barchart_1" data-id="2">
                        <span>Machines</span>

                        <svg width="350" height="201" viewBox="0 0 350 201" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <text fill="white" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="25.0625" y="14.2">In-person events&#10;</tspan><tspan x="83.0469" y="50.2">Video&#10;</tspan><tspan x="74.3047" y="86.2">Articles&#10;</tspan><tspan x="21.5352" y="122.2">Data visualisation&#10;</tspan><tspan x="43.3555" y="158.2">White papers&#10;</tspan><tspan x="66.0312" y="194.2">Podcasts</tspan></text>

                        <path d="M137.012 0.184814C131.042 0.184814 126.186 5.02114 126.186 10.9664C126.186 16.9117 131.027 21.748 137.012 21.748H338.972C344.958 21.748 349.799 16.9271 349.799 10.9664C349.799 5.00573 344.958 0.184814 338.972 0.184814H137.012Z" stroke="white" stroke-width="0.25"/>
                        <path d="M137.012 36.0105C131.027 36.0105 126.186 40.8314 126.186 46.7921C126.186 52.7528 131.027 57.5737 137.012 57.5737H338.972C344.958 57.5737 349.799 52.7528 349.799 46.7921C349.799 40.8314 344.958 36.0105 338.972 36.0105H137.012Z" stroke="white" stroke-width="0.25"/>
                        <path d="M137.012 71.8054C131.027 71.8054 126.186 76.6263 126.186 82.587C126.186 88.5477 131.027 93.3686 137.012 93.3686H338.972C344.958 93.3686 349.799 88.5477 349.799 82.587C349.799 76.6263 344.958 71.8054 338.972 71.8054H137.012Z" stroke="white" stroke-width="0.25"/>
                        <path d="M137.012 107.631C131.027 107.631 126.186 112.452 126.186 118.413C126.186 124.373 131.027 129.194 137.012 129.194H338.972C344.958 129.194 349.799 124.373 349.799 118.413C349.799 112.452 344.958 107.631 338.972 107.631H137.012Z" stroke="white" stroke-width="0.25"/>
                        <path d="M137.012 143.426C131.027 143.426 126.186 148.247 126.186 154.208C126.186 160.168 131.027 164.989 137.012 164.989H338.972C344.958 164.989 349.799 160.168 349.799 154.208C349.799 148.247 344.958 143.426 338.972 143.426H137.012Z" stroke="white" stroke-width="0.25"/>
                        <path d="M137.012 179.252C131.027 179.252 126.186 184.073 126.186 190.034C126.186 195.994 131.027 200.815 137.012 200.815H338.972C344.958 200.815 349.799 195.994 349.799 190.034C349.799 184.073 344.958 179.252 338.972 179.252H137.012Z" stroke="white" stroke-width="0.25"/>
                        

                        <path d="M138.342 0.5869H338.833" stroke="#F55C1C" stroke-width="6" stroke-linecap="round" opacity="0"/>
                        <path d="M138.342 0.5869H338.833" stroke="#F55C1C" stroke-width="6" stroke-linecap="round" opacity="0"/>

                        <path d="M138.342 82.5869H338.833" stroke="#F55C1C" stroke-width="6" stroke-linecap="round"/>
                        <path d="M138.342 118.413H338.833" stroke="#F55C1C" stroke-width="6" stroke-linecap="round"/>
                        <path d="M138.342 154.208H338.833" stroke="#F55C1C" stroke-width="6" stroke-linecap="round"/>
                        <path d="M138.342 0.5869H338.833" stroke="#F55C1C" stroke-width="6" stroke-linecap="round" opacity="0"/>
                        </svg>

                    </figure>
                    '
                    }}
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-4">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">
                <article class="content">
                       {{> segment
                        dataId="1-8"
                        title="Back to the Future: Legacy Media’s Quiet Return"
                        size=1
                        description=""
                        children='
                        <p>While most marketers we spoke to still believe in the credibility and influence of legacy media, industry revenues suggest budgets are flowing elsewhere - towards owned channels and in-house production. But in an AI-powered search environment, legacy outlets may be regaining relevance. Tools like Perplexity now cite their sources,  and those sources often include local news, niche trade journals, and established publishers. In this new landscape, a credible media mention doesn’t just build reputation - it could directly shape what LLMs say about your brand.</p>
                        <p>As generative AI starts shaping buying journeys, we may see a resurgence in media relations, with PR playing a crucial new role in helping brands stay top of mind (and top of model output).</p>
                        '
                        }}
                </article>

                <aside class="graphics">
                    <figure class="barchart_2" data-id="1">
                        <span>Q. Rate the effectiveness of legacy media as a distribution channel</span>
                        <svg width="349" height="355" viewBox="0 0 349 355" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="332.5" x2="349" y2="332.5" stroke="black"/>

                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="7" y="352.2">1 (low)</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="102" y="352.2">2</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="172" y="352.2">3</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="244" y="352.2">4</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="305" y="352.2">5 (High)</tspan></text>

                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="15" y="95.2">19%</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="96" y="212.2">9%</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="164" y="94.2">22%</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="237" y="16.2">28%</tspan></text>
                        <text fill="black" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="12" letter-spacing="0em"><tspan x="313" y="95.2">22%</tspan></text>

                        <path d="M15 322.468C15 327.182 18.8219 331 23.5405 331C28.2592 331 32.0811 327.182 32.0811 322.468V109.647C32.0811 104.933 28.2592 101.115 23.5405 101.115C18.8219 101.115 15 104.933 15 109.647V322.468Z" fill="#F0EDED"/>
                        <path d="M95.5371 322.467C95.5371 327.182 99.359 331 104.078 331C108.796 331 112.618 327.182 112.618 322.467V226.84C112.618 222.126 108.796 218.308 104.078 218.308C99.359 218.308 95.5371 222.126 95.5371 226.84V322.467Z" fill="#D6D1CF"/>
                        <path d="M164.844 322.468C164.844 327.182 168.666 331 173.384 331C178.103 331 181.925 327.182 181.925 322.468V109.647C181.925 104.933 178.103 101.115 173.384 101.115C168.666 101.115 164.844 104.933 164.844 109.647V322.468Z" fill="#CFCFFF"/>
                        <path d="M236.969 322.468C236.969 327.182 240.791 331 245.509 331C250.228 331 254.05 327.182 254.05 322.468V31.5324C254.05 26.8183 250.228 23 245.509 23C240.791 23 236.969 26.8183 236.969 31.5324V322.468Z" fill="#6666FF"/>
                        <path d="M313.919 322.468C313.919 327.182 317.741 331 322.459 331C327.178 331 331 327.182 331 322.468V109.647C331 104.933 327.178 101.115 322.459 101.115C317.741 101.115 313.919 104.933 313.919 109.647V322.468Z" fill="#0000FF"/>
                        </svg>
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-5">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">
                <article class="content">
                          {{> segment
                        dataId="1-9"
                        title="A New Formula for Measuring ROI?"
                        size=1
                        description=""
                        children='
                        <p>In this new era, B2B marketing looks like this:</p>

                        <svg class="svg-formula" width="368" height="232" viewBox="0 0 368 232" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <text fill="#F55C1C" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="64" font-weight="300" letter-spacing="0em"><tspan x="43" y="46.4">B2M</tspan></text>
                            <text fill="#F55C1C" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="18" letter-spacing="0em"><tspan x="192" y="26.9">Business to Machines&#xa0;</tspan></text>
                            <text fill="#F55C1C" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="64" font-weight="300" letter-spacing="0em"><tspan x="0" y="92.4">+</tspan></text>
                            <text fill="#F55C1C" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="64" font-weight="300" letter-spacing="0em"><tspan x="43" y="138.4">H</tspan></text>
                            <text fill="#F55C1C" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="18" letter-spacing="0em"><tspan x="192" y="117.9">Humans</tspan></text>
                            <text fill="#F55C1C" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="64" font-weight="300" letter-spacing="0em"><tspan x="1" y="184.4">=</tspan></text>
                            <text fill="#F55C1C" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="64" font-weight="300" letter-spacing="0em"><tspan x="42" y="230.4">ROI</tspan></text>
                            <text fill="#F55C1C" xml:space="preserve" style="white-space: pre" font-family="Urbanisto" font-size="18" letter-spacing="0em"><tspan x="192" y="215.9">Sales + Impact</tspan></text>
                        </svg>
                        '
                        }}
                </article>

                <aside class="graphics">


{{> segment
    dataId="1-10"
    title=""
    size=1
    description=""
    children='
<p>So ask yourself</p>
<div class="list" data-id="3"></div>
<p>You may be surprised by the answers today. Brands willing to seriously explore these questions now can get ahead of the game in understanding the changing world of search. </p>
<p>In doing so, and by intentionally training the machines, companies can create a new source of competitive advantage.</p>

    '}}

           






                </aside>
            </div>
        </div>
    </div>
</section>

<section class="section" data-id="1-6">
    <div class="wrapper">
        <div class="background"></div>
        <div class="container">
            <div class="inner">
  
                <ul class="links">
                    <li>
                        1. <a href="https://www.gartner.com/en/newsroom/press-releases/2023-12-14-gartner-predicts-fifty-percent-of-consumers-will-significantly-limit-their-interactions-with-social-media-by-2025#:~:text=by%202028%2c%20brands%27%20organic%20search,organic%20search%20to%20drive%20sales." target="_blank" rel="noopener noreferrer">https://www.gartner.com/en/newsroom/press-releases/2023-12-14-gartner-predicts-fifty-percent-of-consumers-will-significantly-limit-their-interactions-with-social-media-by-2025#:~:text=by%202028%2c%20brands%27%20organic%20search,organic%20search%20to%20drive%20sales.\</a>
                    </li>
                    <li>
                        2. <a href="https://arxiv.org/pdf/2311.09735" target="_blank" rel="noopener noreferrer">https://arxiv.org/pdf/2311.09735</a>
                    </li>
                </ul>
    
            </div>
        </div>
    </div>
</section>